.cover__title {
    margin: 0;
    color: #FFFFFF;
    font-size: 72px;
    line-height: calc(76 / 72);
    font-weight: 900;
    max-width: 560px;
    text-align: center;
    position: relative;
  }
  
  @media screen and (max-width: 767px) {
    .cover__title {
      font-size: 32px;
      line-height: calc(35 / 32);
      max-width: 288px;
    }
  }